# =========================
# Virtual Environments
# =========================
.venv/
venv/
venv310/

# =========================
# Python Cache
# =========================
__pycache__/
**/__pycache__/
*.pyc

# =========================
# Datasets (ALL PROJECTS)
# =========================
**/training_data/
**/uploads/
**/dysarthria_env/
**/dataset/
**/datasets/

# =========================
# Large Files
# =========================
*.wav
*.mp3
*.mp4
*.avi
*.npy
*.npz
*.pt
*.pth

# =========================
# Logs
# =========================
*.log
